@use "highlight.scss" as hljs;
@use "master.scss" as master;

/*
Have Lectures take up the whole page.
*/
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
/*
Lectures' by default supports lite and dark mode themes. To do this we have
slightly modified how theme files work. The lite version of your theme should
use the standard :root element to set/overwrite the themes colors. The dark
mode of your site should overwrite :root by changing the variable values in a
body.dark-mode rule set. See below for an example of how this is done.

NOTE: We used Reveal.js' white and black themes as Lectures' lite and dark
mode themes.
 */
@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/source-sans-pro/source-sans-pro-regular.eot);
  src: url(fonts/source-sans-pro/source-sans-pro-regular.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/source-sans-pro/source-sans-pro-regular.woff) format("woff"),
    url(fonts/source-sans-pro/source-sans-pro-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/source-sans-pro/source-sans-pro-italic.eot);
  src: url(fonts/source-sans-pro/source-sans-pro-italic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/source-sans-pro/source-sans-pro-italic.woff) format("woff"),
    url(fonts/source-sans-pro/source-sans-pro-italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/source-sans-pro/source-sans-pro-semibold.eot);
  src: url(fonts/source-sans-pro/source-sans-pro-semibold.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/source-sans-pro/source-sans-pro-semibold.woff) format("woff"),
    url(fonts/source-sans-pro/source-sans-pro-semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/source-sans-pro/source-sans-pro-semibolditalic.eot);
  src: url(fonts/source-sans-pro/source-sans-pro-semibolditalic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/source-sans-pro/source-sans-pro-semibolditalic.woff)
      format("woff"),
    url(fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf)
      format("truetype");
  font-weight: 600;
  font-style: italic;
}

:root {
  --r-alt-color: #fff;
  --r-background-color: #fff;
  --r-main-font: Source Sans Pro, Helvetica, sans-serif;
  --r-main-font-size: 42px;
  --r-main-color: #222;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
  --r-heading-color: #222;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: #2a76dd;
  --r-link-color-dark: #1a53a1;
  --r-link-color-hover: #6ca0e8;
  --r-selection-background-color: #98bdef;
  --r-selection-color: #fff;
}

body.dark-mode {
  --r-alt-color: #222;
  --r-background-color: #191919;
  --r-main-font: Source Sans Pro, Helvetica, sans-serif;
  --r-main-font-size: 42px;
  --r-main-color: #fff;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
  --r-heading-color: #fff;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: #42affa;
  --r-link-color-dark: #068de9;
  --r-link-color-hover: #8dcffc;
  --r-selection-background-color: #bee4fd;
  --r-selection-color: #fff;
}

section.has-dark-background {
  color: var(--r-alt-color);
  h1 {
    color: var(--r-alt-color);
  }
  h2 {
    color: var(--r-alt-color);
  }
  h3 {
    color: var(--r-alt-color);
  }
  h4 {
    color: var(--r-alt-color);
  }
  h5 {
    color: var(--r-alt-color);
  }
  h6 {
    color: var(--r-alt-color);
  }
}

.reveal-viewport {
  background: #fff;
  background-color: var(--r-background-color);
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: 400;
  color: var(--r-main-color);

  &::selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none;
  }

  &::-moz-selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none;
  }

  .slides {
    section {
      line-height: 1.3;
      font-weight: inherit;
      > section {
        line-height: 1.3;
        font-weight: inherit;
      }
    }
  }

  h1 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;
    font-size: var(--r-heading1-size);
    text-shadow: var(--r-heading1-text-shadow);

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;
    font-size: var(--r-heading2-size);

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;
    font-size: var(--r-heading3-size);

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;
    font-size: var(--r-heading4-size);

    &:last-child {
      margin-bottom: 0;
    }
  }

  h5 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h6 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin: var(--r-block-margin) 0;
    line-height: 1.3;
  }

  iframe {
    max-width: 95%;
    max-height: 95%;
  }

  img {
    max-width: 95%;
    max-height: 95%;
    margin: var(--r-block-margin) 0;
  }

  video {
    max-width: 95%;
    max-height: 95%;
  }

  b {
    font-weight: 700;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  dl {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
  }

  ol {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
    list-style-type: decimal;

    ol {
      display: block;
      margin-left: 40px;
    }

    ul {
      display: block;
      margin-left: 40px;
    }
  }

  ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
    list-style-type: disc;

    ul {
      list-style-type: square;
      display: block;
      margin-left: 40px;

      ul {
        list-style-type: circle;
      }
    }

    ol {
      display: block;
      margin-left: 40px;
    }
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin-left: 40px;
  }

  blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: var(--r-block-margin) auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    p {
      &:first-child {
        display: inline-block;
      }
      &:last-child {
        display: inline-block;
      }
    }
  }

  q {
    font-style: italic;
  }

  pre {
    display: block;
    position: relative;
    width: 90%;
    margin: var(--r-block-margin) auto;
    text-align: left;
    font-size: 0.55em;
    font-family: var(--r-code-font);
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    code {
      display: block;
      padding: 5px;
      overflow: auto;
      max-height: 400px;
      word-wrap: normal;
    }
  }

  code {
    font-family: var(--r-code-font);
    text-transform: none;
    tab-size: 2;
  }

  .code-wrapper {
    white-space: normal;
    code {
      white-space: pre;
    }
  }

  table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      font-weight: 700;
      text-align: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      border-bottom: 1px solid;
    }

    td {
      text-align: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      border-bottom: 1px solid;
    }

    td[align="center"] {
      text-align: center;
    }

    th[align="center"] {
      text-align: center;
    }

    td[align="right"] {
      text-align: right;
    }

    th[align="right"] {
      text-align: right;
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
          th {
            border-bottom: none;
          }
        }
      }
    }
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;

    * {
      vertical-align: top;
    }
  }

  a {
    color: var(--r-link-color);
    text-decoration: none;
    transition: color 0.15s ease;

    &:hover {
      color: var(--r-link-color-hover);
      text-shadow: none;
      border: none;
      .r-frame {
        border-color: var(--r-link-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
      }
    }

    .r-frame {
      transition: all 0.15s linear;
    }
  }

  .roll {
    span {
      &:after {
        color: var(--r-selection-color);
        background: var(--r-link-color-dark);
      }
    }
  }

  .r-frame {
    border: 4px solid var(--r-main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  .controls {
    color: var(--r-link-color);
  }

  .progress {
    background: rgba(0, 0, 0, 0.2);
    color: var(--r-link-color);
  }
}

@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}

@include hljs.styles();
@include master.styles();
