@mixin styles() {
  :root {
    --master-slide-logo-height: 5rem;
    --master-slide-logo-width: auto;
    --master-slide-logo-top: unset;
    --master-slide-logo-right: unset;
    --master-slide-logo-bottom: 10px;
    --master-slide-logo-left: 10px;
    --master-slide-copyright-padding: 5px;
    --master-slide-copyright-top: unset;
    --master-slide-copyright-right: 7.2rem;
    --master-slide-copyright-bottom: 1.5rem;
    --master-slide-copyright-left: unset;
  }

  .reveal {
    .master-slide * {
      margin: 0;
      padding: 0;
    }
  }

  .reveal {
    .master-slide {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      perspective: 600px;

      .logo {
        position: absolute;
        top: var(--master-slide-logo-top);
        right: var(--master-slide-logo-right);
        left: var(--master-slide-logo-left);
        bottom: var(--master-slide-logo-bottom);
        height: var(--master-slide-logo-height);
        width: var(--master-slide-logo-width);

        &.dark-mode {
          display: none;
        }
      }

      .copyright {
        position: absolute;
        font-size: 1rem;
        padding: var(--master-slide-copyright-padding);
        top: var(--master-slide-copyright-top);
        right: var(--master-slide-copyright-right);
        left: var(--master-slide-copyright-left);
        bottom: var(--master-slide-copyright-bottom);
        background-color: var(--r-background-color);
      }
    }
  }

  body.dark-mode {
    .reveal {
      .master-slide {
        .logo {
          display: none;
          &.dark-mode {
            display: block;
          }
        }
      }
    }
  }

  html.print-pdf {
    --master-slide-copyright-top: unset;
    --master-slide-copyright-right: 2.75rem;
    --master-slide-copyright-bottom: 5px;
    --master-slide-copyright-left: unset;
  }

  @media print {
    :root {
      --master-slide-copyright-top: unset;
      --master-slide-copyright-right: 2.75rem;
      --master-slide-copyright-bottom: 5px;
      --master-slide-copyright-left: unset;
    }
  }
}
